@font-face {
    font-family: caro-font;
    src: url("../images/Cairo/Cairo-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: light-caro-font;
    src: url("../images/Cairo/Cairo-Light.ttf");
    font-weight: normal;
}


body{
    font-family: caro-Black, sans-serif;
    box-sizing: border-box;
    background-color: #f4f5f6;
}
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.f-start{
    justify-content: flex-start;
}
.f-center{
    justify-content: center;
}
.f-column{
    flex-direction: column;
}
.f-row{
    flex-direction: row;
}
.flex-wrap{
    flex-wrap: wrap;
}
.f-end{
    justify-content: flex-end;
}
.f-columns{
    flex-direction: column;
}
.marg-auto{
    margin: auto;
}
.center-text {
    text-align: center;
}

h1 {
    color: white;
    letter-spacing: 0.01em;
}

h1 + span {
    color: #aaaaaa;
    display: inline-block;
    margin-bottom: 45px;
}
/* ICON HEADER */
.icon {
    fill: white;
}

.user {
    width: 40px;
    height: 40px;
    border: white 3px solid;
    border-radius: 50%;
    position: relative;
}

.user:hover .icon {
    fill: #f22e4c;
}

.user:hover{
    border: #f22e4c 3px solid;
}


.user > div {
    position: absolute;
    top: 10px;
    left: 10px;
}

/* FIN ICON HEADER */

main section h1 {
    color: black;
    text-transform: capitalize;
}

/* SECOND NAV COMMUN */
.secondNav {
    margin: 10px 0 40px 0;
    position: relative;
}

.spanText_B:hover {
    color: #f22e4c;
}
.secondNav:before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    height: 1px;
    background: #949494;
    content: "";
}
/* FIN SECOND NAV COMMUN */

/* --- CARD --- */
.card {
    margin-top: 20px;
    height: 470px;
    background-color: white;
}

.card div:first-child:not(.stars) {

    width: 100%;
    height: 50%;
    position: relative;
}

.img-card {
    width: 100%
}

.popUp {
    color: white;
    padding: 10px 15px 10px 15px;
    position: absolute;
    left: 15px;
    top: 15px;
}

.color-R {
    background: #f22e4c;
}

.color-B {
    background: #2ab2f0;
}

.color-Y {
    background: #dcd629;
}

.tools {
    width: 80px;
    right: 20px;
    bottom: 25px;

}

.b-svg {
    position: absolute;
    top: calc(50% - 7px);
    left: calc(50% - 8px);
    transform: scale(-1, 1);
}

.B-tools {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background: rgba(255, 255, 255, 0.4);
    position: relative;
    outline-style: none;
}

.B-tools:hover {
    opacity: 90%;
}

.B-tools:active .icon-button {
    fill: #f22e4c;
}

.icon-button {
    fill: white;
}

.contenuCard {
    padding: 35px 15px 20px 25px;
    /*border: red 1px solid;*/
    position: relative;
}

.contenuCard:before {
    content: "";
    position: absolute;
    left: 30px;
    top: -33px;
    display: inline-block;
    width: 50px;
    height: 50px;
}

#five:before {
    background: url("../images/list_icon-5.png") no-repeat;
    background-size: 100%;
}

#four:before {
    background: url("../images/list_icon-4.png") no-repeat;
    background-size: 100%;
}

#three:before {
    background: url("../images/list_icon-3.png") no-repeat;
    background-size: 100%;
}

#two:before {
    background: url("../images/list_icon-2.png") no-repeat;
    background-size: 100%;
}

#one:before {
    background: url("../images/list_icon-1.png") no-repeat;
    background-size: 100%;
}


.lineH {
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    bottom: 55px;
    background: #949494;
}

.stars {
    width: 100px;
    height: 20px;
    margin: 10px 10px 10px 0;
}

.star {

    display: inline-block;
    width: 20px;
    height: 20px;
}

.star-full {
    background: url("../images/star-full.png") no-repeat;
    background-size: 100%;
}

.star-empty {
    background: url("../images/star-empty.png") no-repeat;
    background-size: 100%;
}

.redIsDead {
    color: red;
    display: inline-block;
    width: 100px;
    margin: 10px -20px 10px 0;
}

.ImThin {
    font-weight: 200;
    font-size: 12px;
    line-height: 2em;
    letter-spacing: 0.01em;
    display: inline-block;
    padding-left: 25px;
    position: relative;
}

.ImThin:before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url("../images/lieu.svg") no-repeat;
    background-size: 100%;
}

.ImThin ~ .ImThin:before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url("../images/phone.svg") no-repeat;
    background-size: 100%;
}

.cardGroup {
    margin: auto;
    width: 100%;
}

.BottomCard {
    margin-top: 40px;
}

.BottomCard span:first-child {
    font-weight: 600;
    font-size: 14px;
    position: relative;
    padding-left: 30px;
}

.BottomCard span:last-child {
    font-weight: 400;
    font-size: 14px;
    padding-right: 10px;
    position: relative;
}

.open {
    color: #16cb16;
}

.closed {
    color: red;
}

.ico:before {
    content: "";
    position: absolute;
    left: 0;
    top: -5px;
    display: inline-block;
    width: 25px;
    height: 25px;
}

.rest:before {
    background: url("../images/list_small_icon-1.png") no-repeat;
    background-size: 100%;
}

.food:before {
    background: url("../images/list_small_icon-2.png") no-repeat;
    background-size: 100%;
}

.hotel:before {
    background: url("../images/list_small_icon-3.png") no-repeat;
    background-size: 100%;
}

.shop:before {
    background: url("../images/list_small_icon-4.png") no-repeat;
    background-size: 100%;
}

/* FIN CARD */


/*GROUP IMG*/
.Featured {
    margin-top: 200px;
}


.bigSmall {
    width: 100%;
    height: 48%;
}

/* IMAGE LEFT */
.img-left {
    background: url("../images/fl-1.jpg") no-repeat;
    background-size: auto 100%;
    position: relative;
}

.img-left > span ~ span {
    position: absolute;
    display: inline-block;
    left: 15px;
    bottom: 18px;
    color: #949494;
    font-size: 10px;
}

.img-left > span ~ span ~ span {
    position: absolute;
    display: inline-block;
    left: 95px;
    bottom: 18px;
    color: #949494;
    font-size: 10px;
}

.img-left > span {
    position: absolute;
    left: 15px;
    bottom: 40px;
    color: white;
}

/* IMAGES RIGHT */
.img-right-small-2, .img-right-small-1, .img-right-bottom {
    width: 48%;
    height: 100%;
    position: relative;
}


.img-right-small-1 > span, .img-right-small-2 > span, .img-right-bottom > span {
    position: absolute;
    left: 15px;
    bottom: 25px;
}

.img-right a, .img-left a, .img-right-bottom a {
    color: white;
}



/* --UNDERLINE LINK--*/
.img-right-small-1:hover .underline, .img-right-small-2:hover .underline, .img-right-bottom:hover .underline, .img-left:hover .underline {
    right: 0;
    left: 0;
    transform: scaleX(1);
}

/*FOOTER*/
footer {
    margin-top: 70px;
    position: relative;
}

footer div:first-child {
    background: #eceaea;
}

.newsLetter {
    margin: 0 auto 50px auto;
    width: 1000px;
    padding: 20px 0 20px 0;
    position: relative;
}

.newsLetter div:first-child, .footer-form {
    width: 50%;
}

h4 {
    text-transform: capitalize;
    font-size: 21px;
    margin-bottom: 10px;
}

h4 + span {
    color: #aaaaaa;
    display: inline-block;
    font-size: 12px;
}

footer input[type="email"] {
    height: 38px;
    width: 100%;
    color: #949494;
    border: none;
    outline: none;
}

footer input[type="submit"] {
    height: 40px;
    color: white;
    border: none;
    outline: none;

}

.lineH_B {
    bottom: -35px;
}

.copyright {
    width: 1000px;
    margin: auto;
    font-size: 12px;
    padding: 10px 0 20px 0;
    color: #aaaaaa;
}

.copyright div:first-child {
    background-color: transparent;
}

.copyright div:last-child {
    width: 200px;
    text-transform: capitalize;
}

.copyright div:last-child a {
    color: #aaaaaa;
}

.copyright div:last-child a:hover {
    color: #f22e4c;
}

.icon-secondary {
    fill: #f22e4c;
}

.withLove {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 3px;
}


input[type="submit"] {
    color: white;
    border: none;
    outline: none;
    background: #f22e4c;
    padding: 13px 15px 12px 15px;
    text-transform: uppercase;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    /* MENU */
    .headerImg{
        display: none;
    }

    #menuP{
        display: none;
        background: dimgray;
        width: 100vw;
    }

    #menuP nav ul li a:hover .spanText{
        color: #f22e4c;
    }

    .addButton {
        text-align: center;
        background: transparent;
        border: none;
        cursor: pointer;
        outline: none;
    }
    .addButton:hover .icon-button{
        fill: #f22e4c;
    }
    .admin{
        padding: 0 10px 0 10px;
        width: 120px;
    }
    .user:hover .icon{
        fill: #f22e4c;
    }

    #menuP nav{
        height: 30vh;
    }

    #menuP li{
        width: 100%;
        text-align: center;
        padding: 10px 0 10px 0;
        background: dimgray;
    }
    #menuP li:last-of-type{
        background: #2f2d2d;
        padding: 20px 0 20px 0;
    }
    .CloseLink{
        margin: 20px 0 0 0;
    }
    .CloseLink:hover{
        color: #2ab2f0;
        font-weight: bold;
    }

    a{
        text-decoration: none;
        color: white;
    }
    .burger-menu{
        padding: 5px 5px 5px 0 ;
    }
    .nav-burger{
        background: #2f2d2d;
    }
    /* FIN MENU*/

    main section {
        margin: 20px auto 20px auto;
        width: 95vw;
    }

    h1 {
        margin-bottom: 15px;
        font-weight: 400;
        font-size: 25px;
    }
    h1+span{
        font-size: 12px;
    }
    /* SECOND NAV */
    .secondNav nav ul {
        width: 100%;
        margin: auto;
    }
    .spanText_B {
        position: relative;
        padding: 0 5px 0 5px;
        color: #949494;
    }
    /* FIN SECOND NAV */
    main section {
        margin: 50px auto 50px auto;
        width: 100%;
    }

    .card {
        flex-basis: 320px;
        margin: 50px auto 0 auto;
    }

    /*GROUP IMG*/
    .ImgContent {
        width: 100%;
        height: 800px;
    }

    .f-sm-columns{
        flex-direction: column;
    }
    .img-right, .img-left {
        width: 90%;
        height: 100%;
        margin: 20px auto 0 auto;
    }

    /* IMAGE LEFT */
    .img-left {
        background: url("../images/fl-1.jpg") no-repeat;
        background-size: 100%;
        position: relative;
    }
    /* IMAGE RIGHT */
    .img-right-small-2 {
        background: url("../images/fl-2.jpg") no-repeat;
        background-size: 100%;
    }

    .img-right-small-1 {
        background: url("../images/fl-3.jpg") no-repeat;
        background-size: 100%;
    }
    .img-right-bottom {
        width: 100%;
        height: 48%;
        background: url("../images/fl-4.jpg") no-repeat;
        background-size: 100%;
        position: relative;
    }
    /*FOOTER*/
    .newsLetter {
        width: 100%;
    }
    .copyright{
        padding: 0 10px 0 10px;
    }
    .copyright div:last-child {
        padding: 10px 5px 10px 5px;
    }

    /* FORM */

    .formulaire {
        width: 100%;
        margin: auto;
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 7px;
    }

    form {
        min-width: 300px;
        margin: auto;
    }

    .select-css {
        width: 100%;
        height: 40px;
        border: none;
        border-left: 1px solid grey;
        margin: 0;
        appearance: none;
        background-color: #fff;
        outline: none;
        padding-left: 20px;
    }

    .multi-choices {
        position: relative;
        width: 65%;
    }

    .multi-choices:after {
        content: "";
        position: absolute;
        top: 15px;
        right: 12px;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 8px solid #070707;
    }

    input[type="text"] {
        height: 38px;
        width: 35%;
        color: #949494;
        border: none;
        outline: none;
        padding-left: 20px;
    }


    input[type="submit"] {
        color: white;
        border: none;
        outline: none;
        background: #f22e4c;
        padding: 13px 15px 12px 15px;
        text-transform: uppercase;
        cursor: pointer;
    }

}

@media screen and (min-width: 1000px) {

    #menu,#menuP{
        display: none;
    }

    .headerImg {
        background: url("../images/hero-bg.jpg") no-repeat;
        background-size: cover;
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        min-width: 1030px;
        height: 100vh;
        margin: auto;
    }

    nav {
        margin-right: 40px;
    }


    nav ul li a {
        color: white;
        position: relative;
        display: inline-block;
    }

    nav ul li a:hover .underline {
        right: 0;
        left: 0;
        transform: scaleX(1);
    }

    .spanText {
        position: relative;
        z-index: 3;
    }

    .underline {
        position: absolute;
        height: 2px;
        background-color: #f22e4c;
        bottom: -3px;
        right: 50%;
        left: 50%;
        transform: scaleX(0);
        transition: .3s ease-in-out;
    }

    .mainNav > div {
        padding-right: 50px;
        width: 200px;
    }

    .mainNav nav {
        padding: 20px;
        width: 40%;
    }

    .addButton {
        text-align: center;
        padding: 14px 30px 14px 30px;
        background: #f22e4c;
        color: white;
        border: none;
        cursor: pointer;
        outline: none;
    }

    .user {
        border: white 1px solid;
    }

    .user:hover{
        border: #f22e4c 1px solid;
    }

    .headerImg > div:nth-of-type(2) {
        text-align: center;
        margin: calc(50vh - 210px) auto 0 auto;
    }


    .formulaire {

        min-width: 1030px;
        width: 1100px;
        margin: auto;
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 7px;
    }

    form {
        max-width: 1200px;
        min-width: 300px;
        margin: auto;
    }

    .select-css {
        width: 250px;
        height: 40px;
        /*display: block;*/
        border: none;
        border-left: 1px solid grey;
        margin: 0;
        appearance: none;
        background-color: #fff;
        outline: none;
        padding-left: 20px;
    }

    .multi-choices {
        position: relative;
    }

    .multi-choices:after {
        content: "";
        position: absolute;
        top: 15px;
        right: 12px;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 8px solid #070707;
    }

    input[type="text"] {
        height: 38px;
        width: 600px;
        color: #949494;
        border: none;
        outline: none;
        padding-left: 20px;
    }

    input[type="submit"] {
        color: white;
        border: none;
        outline: none;
        background: #f22e4c;
        padding: 13px 15px 12px 15px;
        text-transform: uppercase;
        cursor: pointer;
    }

    .boutonGroup {
        margin: 20px auto 0 auto;
        height: 50px;
        width: 900px;
    }

    .boutonGroup a:before {
        position: absolute;
        left: 20px;
        top: 6px;
        content: "";
    }


    .boutonGroup a:nth-child(1):before {
        content: url("../images/cat-1.png");
    }

    .boutonGroup a:nth-child(2):before {
        content: url("../images/cat-2.png");
    }

    .boutonGroup a:nth-child(3):before {
        content: url("../images/cat-3.png");
    }

    .boutonGroup a:nth-child(4):before {
        content: url("../images/cat-4.png");
    }

    .boutonGroup a:nth-child(5):before {
        content: url("../images/cat-5.png");
        top: 10px;
    }

    .boutonGroup a:nth-child(6):before {
        content: url("../images/cat-6.png");
        top: 10px;
    }

    .BoutonCategories {
        padding: 10px 15px 10px 55px;
        border: white solid 1px;
        display: inline-block;
        position: relative;
        color: white;
    }

    main {
        padding-top: 100vh;
    }

    main section {
        margin: 50px auto 50px auto;
        width: 1000px;
    }
    h1 {
        margin-bottom: 15px;
        font-weight: 400;
        font-size: 40px;
    }

    /* EN BAS */
    h3 {
        color: black;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 0.01em;
    }

    /* --- CARD --- */
    .card:nth-of-type(3n+2) {
        margin: 20px 2% 0 2%;
    }
    .card {
        flex-basis: 32%;
    }
    /* SECOND NAV */
    .secondNav nav ul {
        width: 700px;
        margin: auto;
    }

    .secondNav:before {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -3px;
        height: 1px;
        background: #949494;
        content: "";
    }

    .spanText_B {
        position: relative;
        padding: 0 15px 0 40px;
        color: #949494;
    }

    .spanText_B:hover {
        color: #f22e4c;
    }

    .spanText_B:before {
        position: absolute;
        left: 15px;
        top: -4px;
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
    }

    .restaurant:before {
        background: url("../images/fork-grey.png") no-repeat;
        background-size: 100%;
    }

    .restaurant:hover:before {
        background: url("../images/fork-pink.png") no-repeat;
        background-size: 100%;
    }

    .Shopping:before {
        background: url("../images/shop-grey.png") no-repeat;
        background-size: 100%;
    }

    .Shopping:hover:before {
        background: url("../images/shop-pink.png") no-repeat;
        background-size: 100%;
    }

    .travel:before {
        background: url("../images/travel-grey.png") no-repeat;
        background-size: 100%;
    }

    .travel:hover:before {
        background: url("../images/travel-pink.png") no-repeat;
        background-size: 100%;
    }

    .beauty:before {
        background: url("../images/beauty-grey.png") no-repeat;
        background-size: 100%;
    }

    .beauty:hover:before {
        background: url("../images/beauty-pink.png") no-repeat;
        background-size: 100%;
    }

    .event:before {
        background: url("../images/event-grey.png") no-repeat;
        background-size: 100%;
    }

    .event:hover:before {
        background: url("../images/event-pink.png") no-repeat;
        background-size: 100%;
    }

    .rental:before {
        background: url("../images/rental-grey.png") no-repeat;
        background-size: 100%;
    }

    .rental:hover:before {
        background: url("../images/rental-pink.png") no-repeat;
        background-size: 100%;
    }

    /*GROUP IMG*/
    .ImgContent {
        width: 1000px;
        height: 500px;
    }

    .img-right, .img-left {
        width: 49%;
        height: 100%;
    }

    /* IMAGE LEFT */
    .img-left {
        background: url("../images/fl-1.jpg") no-repeat;
        background-size: auto 100%;
        position: relative;
    }

    /* IMAGE RIGHT */
    .img-right-small-2 {
        background: url("../images/fl-2.jpg") no-repeat;
        background-size: auto 100%;
    }

    .img-right-small-1 {
        background: url("../images/fl-3.jpg") no-repeat;
        background-size: auto 100%;
    }
    .img-right-bottom {
        width: 100%;
        height: 48%;
        background: url("../images/fl-4.jpg") no-repeat;
        background-size: auto 100%;
        position: relative;
    }
    /*FOOTER*/
    .newsLetter {
        width: 1000px;
    }

    /* --- EFFET SLIDE BOUTON ---*/
    /* BORDURE DU HAUT */
    .haut:after, .haut:before {
        content: "";
        position: absolute;
        top: -11px;
        left: -56px;
        /*right:133px;*/
        right: 220%;
        height: 2px;
    }

    .haut:before {
        background: #f22e4c;
        transition: .3s ease-in-out;
    }

    .haut:after {
        background: white;
        transition: .3s ease-in-out;
        transition-delay: 0.2s;
    }

    .BoutonCategories:hover .haut:before, .BoutonCategories:hover .haut:after {
        right: -16px;
    }

    .droite, .bas, .gauche, .haut {
        display: inline-block;
        position: relative;
    }

    /* BORDURE DROITE */
    .droite:before, .droite:after {
        content: "";
        position: absolute;
        top: -10px;
        bottom: 28px;
        right: -16px;
        width: 2px;
    }

    .droite:before {
        background: #f22e4c;
        transition: bottom .3s ease-in-out;
        transition-delay: 0.4s;
    }

    .droite:after {
        background: white;
        transition: bottom .3s ease-in-out;
        transition-delay: 0.6s;
    }

    .BoutonCategories:hover .droite:before, .BoutonCategories:hover .droite:after {
        bottom: -10px;
    }

    /* BORDURE GAUCHE */
    .gauche:before, .gauche:after {
        content: "";
        position: absolute;
        bottom: -10px;
        top: 28px;
        left: -56px;
        width: 2px;
    }

    .gauche:before {
        background: #f22e4c;
        transition: top .3s ease-in-out;
        transition-delay: 1.5s;
    }

    .gauche:after {
        background: white;
        transition: top .3s ease-in-out;
        transition-delay: 1.6s;
    }

    .BoutonCategories:hover .gauche:before, .BoutonCategories:hover .gauche:after {
        top: -10px;
    }

    /* BORDURE BAS */
    .bas:before, .bas:after {
        content: "";
        position: absolute;
        bottom: -11px;
        right: -16px;
        /*left: 95px;*/
        left: 220%;
        height: 2px;
    }

    .bas:before {
        background: #f22e4c;
        transition: left .3s ease-in-out;
        transition-delay: 0.9s;
    }

    .bas:after {
        background: white;
        transition: left .3s ease-in-out;
        transition-delay: 1.2s;
    }

    .BoutonCategories:hover .bas:before, .BoutonCategories:hover .bas:after {
        left: -56px;
    }
}
